* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgb(196, 241, 255);
}

:root {
  --color-primario: hsl(0, 80%, 50%);
  --color-primario-oscuro: hsl(0, 80%, 20%);
  --color-primario-claro: hsl(0, 80%, 80%);
}

.header {
    background-color: var(--color-primario-claro);
    padding: 1rem;
    box-shadow: 0 0 0 0 10px rgba(0,0,0,0.5);
}
.header-contenido {
    max-width: 75rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
}
.titulo-principal {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--color-primario-oscuro);
}
.descripcion {
    font-size: 1rem;
    color: var(--color-primario);
    font-weight: bold;
}

.contenedor {
    max-width: 75rem;
    margin: auto;
    padding: 1rem;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.foto-tarjeta {
    background-color: var(--color-primario-claro);
    border-radius: 8px;
    box-shadow: 0 0 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
}
.foto-tarjeta img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}
.foto-info {
    padding: 1rem;
}
.foto-titulo {
    font-size: 1.5rem;
    margin-bottom: auto;
    color: var(--color-primario-oscuro);
}
.foto-sinopsis {
    font-size: 1rem;
    color: black;
    margin: 0;
    font-weight: bold;
}
.foto-estreno {
    font-size: 1rem;
    color: var(--color-primario-oscuro);
    font-weight: bold;
}
.foto-director {
    font-size: 1rem;
    color: var(--color-primario-oscuro);
    font-weight: bold;
}
.foto-tarjeta:hover {
    transform: translateY(-5px);
}

